<template name="home">
{{#markdown}}
## Welcome to my Blog
Hello
{{/markdown}}

{{#blockHelperExample myValue=true}}
  <span>Some Content</span>
{{else}}
  <span>Some Warning</span>
{{/blockHelperExample}}

{{exampleHelper}}
{{> contextExample someText="some text as an argument"}}
{{> contextExample dataContextHelper}}

<p>Using with</p>
{{#with dataContextHelper}}
	{{> contextExample}}
{{/with}}

<p>without the contextExample template</p>
{{#with dataContextHelper}}
	<p>{{someText}}</p>
	<p>{{someNested.text}}</p>
{{/with}}

</template>

